@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-regular.ttf) format("truetype");
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");

} 

body{
    margin: 0;
    border: 1px solid black;
    font-family: Roboto;
}
.btn{
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}
a{
    cursor: pointer;
}

.block-header{
    display: flex;
    justify-content: space-between;
    height: 116px;
    .block-header__img{
        img{
            width: 100%;
        }
        padding: 39px 0 39px 80px;
        
    }
     .block-header__ul li{
        display: inline-block;
        padding-left: 31px;
        padding: 47.37px 0 47.37px 0;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        a{
            padding: 31px;
        }
    } 

   .block-header__btn{
        height: 43.5px;
        width: 150px;
        color: #F7941E;
        border: #F7941E 1px solid;
        margin: 36.73px 34px 35.77px 0;
   }
}
.block-sect{
    display: flex;
    justify-content: space-between;
        img{
            width: 50%;
        }
        .block-sect1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .block-sect1__h{
                font-size: 56px;
                line-height: 69px;
                text-align: left;
                padding: 0 20%;
            }
        
            .block-sect1__p{
                font-size: 20px;
                line-height: 28px;
                text-align: left;
                padding: 0 20%;
                margin: 5% 0 5% 0;

            }

        }
}
.block-sect1__btn{
    color: #fff;
    background: #F7941E;
    margin-left: -26%;
}  

 
.btn:hover {
    background-color: #75b3e6;
}
.block-sect2{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .block-sect2__h{
        font-size: 32px;
        line-height: 45px;
        text-align: left;
        padding: 0 20%;
        font-weight: 400;
        margin:0 0 3% 0;
    }
        
    .block-sect2__p{
        font-size: 20px;
        line-height: 28px;
        text-align: justify;
        padding: 0 20%;
        margin: 0 0 8% 0;

    }
        
    .block-sect2__btn{
        background: #fff;
        color: #F7941E;
        border: #F7941E 1px solid;
        margin-left: 20%;
    }           
}




.block-sect3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .block-sect3__h{
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 6%;
        margin-bottom: 2%;
    }
    .block-sect3__p{
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;

    }
    .block-sect3__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-auto-rows: minmax(150px, auto);
        justify-items: center;
        align-items: center;
        margin-top: 4%;
        img{
            width: 100%;
        }

        .block-sect3__grid-p{
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin: 8% 8% 27% 8%;
        }

        .block-sect3__grid-a{
            display: block;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0 0 8% 8%;
        }
    }
    .block-sect3__grid-item:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
}
.block-sect4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F7941E;
    height: 240px;
    margin-top: 7%;

    .block-sect4__title{
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 0;
        margin-left: 14%;
    }
    .block-sect4__btn{
        margin-top: 11%;
        margin-left: 2%;
        height: 50px;
        background: #000;
        color: #fff;
    }
    .block-sect4__btn-w{
        background:#F7941E;
        color: #000;
        border: 1px solid black;
    }
   
}
.block-sect5{

    h5{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 0;
    font-weight: 500;

}
    p{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;

}
.block-sect5__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 11%;
    row-gap: 40px;
    justify-content: space-between;
   
        .block-sect5__flex-item:nth-child(1){
            width: 30%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .block-sect5__flex-item:nth-child(2){
            width: 70%;
            background: #231F20;
            color: #fff;
            
            p{
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                margin: 8% 0 4% 11%;
                
            }
            h4{
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0 25% 0 11%;
                font-weight: 500;
                
            }
            a{
                display: block;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                margin: 8% 0 7% 11%;

                
            }
            
        }
        .block-sect5__flex-item:nth-child(3){
            width: 48%;
            margin-bottom: 7%;

            
        }
        .block-sect5__flex-item:nth-child(4){
            width: 48%;
            margin-bottom: 7%;



        }
        .block-sect5__flex-item:nth-child(3):hover,
        .block-sect5__flex-item:nth-child(4):hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.3);

        }
        .block-sect5__h6{
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            margin: 5% 5% 0 5%;
            height: 68px;

        }
        .block-sect5__p{
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            margin: 2% 7% 5% 5%;


        }
        .block-sect5__a{
            display: block;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0 0 7% 5%;
        }
    
    
    }    

}
.btn:hover {
    background: #75b3e6;
}

.block-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .block-footer__ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: self-start;
        margin: 0;
        gap: 5%;
        li{
            margin: 30%;
        }
        img{

           margin: 130% 20% 20% 0%;
        }
        a{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            font-weight: bold;
       }
    }
    .block-footer__border{
        border-top: 1px solid black;
        width: 800px;
        position: relative;

    }
    .block-footer__social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top:4%;
        margin-bottom: 5%;
        margin-left: 2%;
        a{
         margin-right: 15%;
        }
                   

    }
    .block-footer__span{
        display: flex;
        justify-content: center;
        span{
        padding: 1vh;
        padding-bottom: 5vh;
         font-size: 14px;
         line-height: 20px;
         letter-spacing: 0em;
         text-align: center;

        }
    
    }
}
